<h2>Please Note</h2>

<ul>
	<li>You can complete <span style="color: rgb(255, 0, 0);"><b>only one HIT</b></span> from this group of hits. If you complete more than one, <span style="color: rgb(255, 0, 0);"><b>you will be paid only for the first HIT</b>.</span></li>
	<li>You have to be an <span style="color: rgb(255, 0, 0);"><b>English Native Speaker</b></span>.</li>
	<li>You have to complete all the 20 judgements. All fields are required.</li>
</ul>

<h2>Informed Consent</h2>

<p>This is a linguistic experiment performed at the University of Edinburgh. If you have any question about this study, feel free to contact Prof. Mirella Lapata. Participation in this research is voluntary. You have the right to withdraw from the experiment at any time. The collected data will be used for research purposes only. Personal data will be kept confidential and will not be shared with third parties.</p>

<h2>Personal Details Questionnaire</h2>

<h4><span style="color: rgb(255, 0, 0);">Please be careful to fill in the Personal Details questionnaire correctly, as otherwise you will not receive payment.</span></h4>

<p>1. Age:&nbsp; <input id="age" name="age" size="14" type="text" /></p>

<p>2. Gender:<input name="gender" type="radio" value="male" /> Male <input name="gender" type="radio" value="female" /> Female</p>

<p>3. Please specify the country where you have learned your first language:</p>

<p><select name="region"><option value="United States">United States</option><option value="Canada">Canada</option><option value="Australia">Australia</option><option value="New Zealand">New Zealand</option><option value="United Kingdom">United Kingdom</option><option value="Ireland">Ireland</option><option value="Other">Non-native Enlgish speaker</option> </select></p>

<h2>&nbsp;</h2>

<h2>Instructions</h2>

<p>In this task you will look at a series of images and image descriptions created by a computer program.</p>

<p>You will be presented with 20 images and 3 descriptions for each image. For each image you will be asked to judge whether the descriptions are relevant to the image. You will do this using a 1-5 rating scale, where 5 is best and 1 is worst. There are no &quot;correct&quot; answers, so whatever choice seems appropriate to you is a valid response. For example, if you were given the following image and description:</p>

<p><img alt="image matching description" src="http://homepages.inf.ed.ac.uk/s0942284/proj/good.png"/><br/>Mike and Jenny are playing ball.</p>

<p>You would probably give the description a high rating (4 or 5) with respect to relevance. As you can see the description captures a relevant aspect of the image. Now, consider the following pair:</p>

<p><img alt="image not matching description" src="http://homepages.inf.ed.ac.uk/s0942284/proj/bad.png"/><br/>Mike is in the sandbox.</p>

<p>Here, the description only marginally relates to the image. Therefore, you would give it a low rating (e.g., 1 or 2) in terms of relevance.  Finally, consider the following image and description:</p>

<p><img alt="image somewhat matching description" src="http://homepages.inf.ed.ac.uk/s0942284/proj/medium.png"/><br/>Mike is holding a hamburger.</p>

<p>While the description certainly is relevant to the image, the description maybe doesn't capture the most interesting or exciting aspect of the image. Therefore, you would give it a medium rating (e.g., 3) in terms of relevance.</p>


<p>&nbsp;</p>

<h2>Experiment</h2>

<p>Please only look at one image at time and rate its descriptions quickly. Once you look at a new image, please do not change the previous answers.</p>

<ol>
	<li><img src="${IMG1}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG1_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG1_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG1_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG1_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG1_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG1_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG1_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG1_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG1_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG1_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG1_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG1_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG1_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG1_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG1_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG1_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG1_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG1_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG2}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG2_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG2_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG2_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG2_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG2_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG2_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG2_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG2_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG2_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG2_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG2_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG2_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG2_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG2_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG2_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG2_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG2_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG2_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG3}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG3_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG3_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG3_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG3_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG3_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG3_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG3_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG3_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG3_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG3_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG3_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG3_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG3_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG3_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG3_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG3_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG3_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG3_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG4}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG4_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG4_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG4_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG4_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG4_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG4_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG4_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG4_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG4_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG4_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG4_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG4_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG4_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG4_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG4_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG4_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG4_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG4_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG5}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG5_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG5_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG5_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG5_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG5_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG5_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG5_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG5_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG5_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG5_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG5_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG5_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG5_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG5_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG5_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG5_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG5_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG5_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG6}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG6_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG6_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG6_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG6_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG6_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG6_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
                <td>${IMG6_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG6_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG6_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG6_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG6_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG6_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG6_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG6_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG6_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG6_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG6_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG6_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG7}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG7_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG7_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG7_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG7_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG7_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG7_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG7_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG7_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG7_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG7_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG7_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG7_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG7_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG7_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG7_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG7_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG7_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG7_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG8}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG8_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG8_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG8_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG8_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG8_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG8_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG8_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG8_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG8_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG8_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG8_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG8_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG8_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG8_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG8_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG8_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG8_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG8_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG9}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG9_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG9_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG9_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG9_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG9_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG9_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG9_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG9_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG9_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG9_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG9_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG9_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG9_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG9_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG9_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG9_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG9_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG9_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG10}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG10_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG10_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG10_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG10_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG10_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG10_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG10_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG10_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG10_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG10_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG10_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG10_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG10_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG10_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG10_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG10_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG10_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG10_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG11}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG11_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG11_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG11_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG11_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG11_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG11_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG11_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG11_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG11_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG11_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG11_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG11_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG11_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG11_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG11_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG11_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG11_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG11_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG12}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG12_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG12_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG12_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG12_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG12_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG12_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG12_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG12_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG12_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG12_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG12_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG12_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG12_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG12_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG12_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG12_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG12_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG12_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG13}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG13_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG13_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG13_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG13_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG13_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG13_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG13_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG13_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG13_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG13_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG13_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG13_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG13_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG13_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG13_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG13_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG13_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG13_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG14}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG14_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG14_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG14_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG14_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG14_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG14_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG14_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG14_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG14_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG14_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG14_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG14_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG14_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG14_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG14_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG14_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG14_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG14_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG15}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG15_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG15_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG15_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG15_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG15_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG15_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG15_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG15_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG15_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG15_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG15_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG15_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG15_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG15_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG15_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG15_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG15_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG15_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG16}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG16_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG16_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG16_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG16_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG16_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG16_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG16_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG16_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG16_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG16_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG16_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG16_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG16_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG16_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG16_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG16_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG16_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG16_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG17}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG17_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG17_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG17_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG17_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG17_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG17_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG17_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG17_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG17_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG17_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG17_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG17_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG17_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG17_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG17_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG17_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG17_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG17_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG18}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG18_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG18_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG18_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG18_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG18_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG18_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG18_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG18_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG18_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG18_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG18_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG18_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG18_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG18_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG18_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG18_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG18_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG18_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG19}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG19_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG19_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG19_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG19_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG19_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG19_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG19_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG19_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG19_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG19_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG19_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG19_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG19_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG19_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG19_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG19_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG19_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG19_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>

	<li><img src="${IMG20}" />
	<p>&nbsp;</p>
	<table border=0 rules=NONE>
		<tbody>
			<tr>
				<td colspan=1><center><b><font color=#ff0000 size=3>Description</font></b></center></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=7><center><b><font color=#ff0000 size=3>Relevance</font></b></center></td>
			</tr>
			<tr>
				<td>${IMG20_DESC1}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG20_DESC1_R type=radio value=1 /> 1</td>
				<td><input name=IMG20_DESC1_R type=radio value=2 /> 2</td>
				<td><input name=IMG20_DESC1_R type=radio value=3 /> 3</td>
				<td><input name=IMG20_DESC1_R type=radio value=4 /> 4</td>
				<td><input name=IMG20_DESC1_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG20_DESC2}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG20_DESC2_R type=radio value=1 /> 1</td>
				<td><input name=IMG20_DESC2_R type=radio value=2 /> 2</td>
				<td><input name=IMG20_DESC2_R type=radio value=3 /> 3</td>
				<td><input name=IMG20_DESC2_R type=radio value=4 /> 4</td>
				<td><input name=IMG20_DESC2_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
			<tr>
				<td>${IMG20_DESC3}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><b>Low</b></td>
				<td><input name=IMG20_DESC3_R type=radio value=1 /> 1</td>
				<td><input name=IMG20_DESC3_R type=radio value=2 /> 2</td>
				<td><input name=IMG20_DESC3_R type=radio value=3 /> 3</td>
				<td><input name=IMG20_DESC3_R type=radio value=4 /> 4</td>
				<td><input name=IMG20_DESC3_R type=radio value=5 /> 5</td>
				<td><b>High</b></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<p>&nbsp;</p>
	</li>
</ol>

<h3><span style="color: rgb(51, 102, 255);"><b>Please go over your answers and make sure you have ticked all the boxes for Relevance for all 3 descriptions of all 20 images</b>!</span></h3>

<hr align="left" noshade="noshade" size="4" width="100%" />
<p>Please provide any comments you may have below, we appreciate your input!</p>

<p><textarea cols="80" name="comment" rows="3"></textarea></p>
